.search-bar{
    display: flex; 
    justify-content: center;
}

/* .slick-next {
    background: url('./forward-modified.png') no-repeat!important;
    background: 'blue';
}
.slick-next::before{ 
    display: none; 
}
.slick-prev {
    background: url('./forward-modified.png') center center no-repeat!important;
    color: black !important;
}
.slick-prev::before{ 
    display: none; 
} */
.slick-prev:before,
.slick-next:before {
  color: #000000;
}