/* @import 'react-pro-sidebar/dist/scss/styles.scss'; */
.sidebar-bg-color{
    height:100vh;
    background-color: #40a8e4;
}
Nav{
    font-size: 14.5px;
}
.nav-link.active{
 
}
#navBar{
  background-color: #272829;
}
#navBar.active{
  background-color: transparent !important;
}
.navItem{
  margin-right: 12px;
}
.navItem:hover{
  border-radius: 5px;
  background-color: gray;
} 
.navItemSignUp{
  background-color: #292727;
}
.navItemSignUp:hover{
  border-radius: 5px !important;
  color: #ffffff !important;
  background-color: #4e4e4e;
  border: 1px solid white;
}