.img-quick { 
    overflow: hidden;
  }
.img-quick .img-q{
    transform-origin: 65% 75%;
    transition: transform 0.9s, filter .3s ease-out;
}
.img-quick:hover .img-q{
    transform: scale(1.1);
}
/* .slick-next {
    background: url('./forward-modified.png') no-repeat!important;
    background: 'blue';
}
.slick-next::before{ 
    display: none; 
}
.slick-prev {
    background: url('./forward-modified.png') center center no-repeat!important;
    color: black !important;
}
.slick-prev::before{ 
    display: none; 
} */
.slick-prev:before {
    font-size: 1.5rem;
  color: #080808;
}
.slick-next:before{ 
    font-size: 1.5rem;
    color: #080808;
}